/*           CSS RESET        */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*        USER STYLES       */
:root[data-theme="light"] {
  --color-dark-blue: #023e73;
  --color-light-blue: #048abf;
  --color-light-orange: #f2811d;
  --color-dark-orange: #d96523;
  --color-red: #bf2a2a;
  --color-primary: black;
  --color-secondary: white;
  --color-background: white;
  --dimen-navbar-height: 8dvh;
}

:root[data-theme="dark"] {
  --color-dark-blue: #012340;
  --color-light-blue: #025373;
  --color-light-orange: #995112;
  --color-dark-orange: #361909;
  --color-red: #801c1c;
  --color-primary: white;
  --color-secondary: white;
  --color-background: black;
  --dimen-navbar-height: 8dvh;
}

html {
  font-family: Karla, sans-serif;
  color: var(--color-primary);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  transition: background-color 500ms ease-in, color 500ms ease-out;
}

pre {
  font: inherit;
}

section {
  transition: background-color 500ms ease-in, color 500ms ease-out;
}

.main-link::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid white;
  transform: translateX(-101%);
  transition: transform 500ms ease-out;
}

.main-link:active::after,
.main-link:hover::after {
  transform: translateX(0);
}

.header-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Unica One", sans-serif;
  color: var(--color-primary);
  font-weight: normal;
  font-size: calc(4rem + 2vw);
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 2 / 7;
  letter-spacing: 0.25rem;
}

.header-mosaic {
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: 3.5fr repeat(5, minmax(0, 1fr));
  margin: 3rem;
  gap: 1.5dvw;
}

.header-mosaic {
  height: 80dvh;
  max-width: 1200px;
  margin: 6dvh auto;
}

.header-rectangle {
  transition: background-color 500ms ease-in;
}

#rectangle-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background-color: var(--color-dark-blue);
}

#rectangle-2 {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  background-color: var(--color-light-blue);
}

#rectangle-3 {
  grid-column: 5 / 7;
  grid-row: 2 / 4;
  background-color: var(--color-light-orange);
}

#rectangle-4 {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  background-color: var(--color-dark-orange);
}

#rectangle-5 {
  grid-column: 4 / 7;
  grid-row: 4 / 5;
  background-color: var(--color-red);
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: var(--dimen-navbar-height);
  justify-content: space-between;
  font-size: 1.5rem;
  padding-inline: 2vw;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  column-gap: 2vw;
}

.nav-links {
  display: flex;
  flex-grow: 0.8;
  justify-content: space-between;
}

.nav-link {
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.nav-link-active .main-link::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid white;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.nav-option {
  fill: white;
  cursor: pointer;
}

.about {
  background-color: var(--color-light-blue);
}

.portfolio {
  background-color: var(--color-light-orange);
}

.skills {
  background-color: var(--color-red);
  color: var(--color-secondary);
}

.section-header {
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.5rem;
}

.content-section {
  padding-inline: 5rem;
  overflow: hidden;
}

.full-screen-section {
  height: 100dvh;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer {
  background-color: var(--color-dark-blue);
  color: var(--color-secondary);
  padding-bottom: 0;
  gap: 0;
}

.footer h2 {
  margin-bottom: 2rem;
}

.footer-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.section-text {
  flex-grow: 1;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

.skills-list {
  list-style: none;
  font-size: clamp(1.15rem, 5vw + 1rem, 1.4rem);
  overflow: hidden;
}

.skills-list li {
  margin-block: 0.25rem;
}

.footer-form {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-header {
  font-size: 1.15rem;
}

.form-body {
  display: grid;
  grid-template-rows: repeat(4, 7.5vh);
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.form-body div {
  display: none;
}

.form-field {
  width: 100%;
  padding: 0.5rem;
  resize: none;
}

textarea.form-field {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.form-button {
  grid-column: 1 / span 2;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.footer-section {
  flex-basis: 100%;
}

.footer-attribution {
  text-align: center;
  font-size: 0.9rem;
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
}

.footer-contact {
  font-size: 1.15rem;
  margin-block: 0.5rem;
  overflow: hidden;
}

.footer-contact a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.footer-quote {
  font-style: italic;
  text-align: right;
}

.contact-title {
  font-weight: bold;
}

.grecaptcha-badge {
  display: none !important;
}

.portfolio-gallery {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1vw;
  width: 75%;
  height: 100%;
  max-width: 650px;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
}

.gallery-item {
  grid-row: span 1;
  grid-column: span 1;
  background-color: var(--color-dark-blue);
  overflow: hidden;
  transition: background-color 500ms ease-in;
  cursor: pointer;
  position: relative;
}

.gallery-item picture {
  height: 100%;
}

.gallery-item picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery-item-snippet {
  display: none;
}

.gallery-spotlight .gallery-item-snippet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  cursor: pointer;
}

.gallery-item-link {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-decoration: none;
  color: black;
}

.gallery-item-title {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.gallery-item-subtitle {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.gallery-spotlight {
  grid-row: span 2;
  grid-column: span 2;
}

#gallery-item-1 {
  order: 1;
}

#gallery-item-2 {
  order: 2;
}

#gallery-item-3 {
  order: 3;
}

#gallery-item-3 {
  order: 3;
}

#gallery-item-4 {
  order: 4;
}

#gallery-item-5 {
  order: 5;
}

#gallery-item-6 {
  order: 6;
}

#gallery-item-3.gallery-spotlight {
  order: 1;
}

#gallery-item-6.gallery-spotlight {
  order: 4;
}

@media (max-width: 720px) {
  .skills-list {
    font-size: clamp(1rem, 1vw + 1rem, 1.25rem);
  }

  .header-mosaic {
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(10, minmax(0, 1fr));
    padding-inline: 3rem;
    margin-top: calc(6dvh + var(--dimen-navbar-height));
  }

  .header-brand {
    text-align: right;
    grid-row: 1 / 4;
    grid-column: 1 / all;
    z-index: 1;
    letter-spacing: normal;
    align-items: end;
    justify-content: right;
    padding-right: 0.5rem;
    color: var(--color-secondary);
    font-size: calc(3rem + 2vw);
  }

  #rectangle-1 {
    grid-row: 1 / 4;
    grid-column: 1 / all;
    background-color: var(--color-dark-blue);
  }

  #rectangle-2 {
    grid-column: 1 / 7;
    grid-row: 4 / 7;
    background-color: var(--color-light-blue);
  }

  #rectangle-3 {
    grid-column: 1 / 7;
    grid-row: 7 / all;
    background-color: var(--color-light-orange);
  }

  #rectangle-4 {
    grid-column: 7 / all;
    grid-row: 4 / 6;
    background-color: var(--color-dark-orange);
  }

  #rectangle-5 {
    grid-column: 7 / all;
    grid-row: 6 / all;
    background-color: var(--color-red);
  }

  .navbar {
    position: fixed;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    background-color: black;
    flex-grow: unset;
    width: 70%;
    align-self: flex-start;
  }

  .nav-link {
    height: var(--dimen-navbar-height);
    display: flex;
    padding-left: 2vw;
  }

  .nav-link a {
    display: block;
    margin-block: auto;
  }

  .main-link::after {
    transform: translateX(calc(-101% - 2vw));
  }

  .main-link:active::after,
  .main-link:hover::after {
    transform: translateX(0);
  }

  .content-section {
    padding: 3rem;
  }

  .portfolio-gallery {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-height: 0;
    aspect-ratio: unset;
    max-width: 420px;
    width: unset;
  }

  .gallery-spotlight {
    grid-row: span 2;
    grid-column: span 2;
  }

  .gallery-item-title {
    font-size: 1.25rem;
  }

  #gallery-item-4,
  #gallery-item-5,
  #gallery-item-6 {
    display: none;
  }

  .footer {
    padding-bottom: 0;
  }

  .footer-sections {
    flex-direction: column;
    row-gap: 2rem;
  }

  .footer-quote {
    text-align: center;
  }

  .footer-quote pre {
    font-size: 0.8rem;
  }

  .footer-contacts {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
  }

  .md-navigation-closed .nav-link {
    display: none;
  }

  .md-navigation-closed .nav-link-active {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="light"],
  :root[data-theme="dark"] {
    --color-dark-blue: #012340;
    --color-light-blue: #025373;
    --color-light-orange: #995112;
    --color-dark-orange: #361909;
    --color-red: #801c1c;
    --color-primary: white;
    --color-secondary: white;
    --color-background: black;
  }

  #nav-option-theme {
    display: none;
  }

  .form-button {
    color: black;
  }
}
